
img{
    max-width: 100%;
}

html{
    font-size: 10px; // 1 rem
}


body{
    font-family: 'Rubik';
}

h1{
    font-size: 70px;
    line-height: 27px;
}



p{
    font-size: 17px;
    line-height: 27px;
}


