
.section-register{
    background-image: url('../img/subscribe_section/currant.png');
    background-position: center;
}

@media(min-width:576px){
    .section-register{
        padding: 5%;
    }
}

@media(min-width:768px){
    .section-register{
        padding: 10%;
    }
}

@media(min-width:992px){
    .section-register{
        h3{
            font-size: 40px;
            line-height: 27px;
            color: #262626;
           margin-bottom: 34px!important;
        }
    }
}


.btn{
    color: #FFFFFF;
    background-color: #96B92C;
    padding: 3px 20px;
}