

.service-section{
    background-color: #70BFFF;
}

.service-section{
    h1{
        font-size: 50px;
       padding-top: 40px;
    }
}

.service-section{
    .service-data{
        padding: 10% 10% 10%;
    }
}

.service-section{
    .service-data{
        p{
            font-size: 20px;
            line-height: 27px;
            color: #262626;
        }
    }
}